{% extends 'manager/base.html' %}
{% block title %} Manager Home {% load staticfiles %}{% endblock %}
{% block body %}
<div class="container" style="float:right;width:75%;">
<table id="docs">
  <tr>
    <th>Name</th>
    <th>Specialization</th>
    <th>Lab</th>
    <th>Address</th>
    <th>Further Details</th>
  </tr>
  {% for i in doctor_details %}
  		<tr>
  		<td>{{ i.first_name}} {{ i.second_name }}</td>
  		<td>{{ i.speciality }}</td>
  		<td>{{ i.lab_name }}</td>
  		<td>{{ i.Apt_Number }},{{ i.Street_no }},{{i.Street_Name }},{{ i.City }}, {{ i.State }}.{{ i.Zip_code }},{{ i.contact }}</td>
  		<td><button class="btn btn-success doctor_details" u="{{ i.doctor_id }}"> More Details</button></td>
  		</tr>
  {% endfor %}
 </table>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$('.doctor_details').click(function(){
		var v = $(this).attr('u');
		
	});
</script>
{% endblock %}