{% extends 'manager/base.html' %}
{% block title %} Manager Home {% load staticfiles %}{% endblock %}
{% block body %}
<div class="container" style="float:right;width:75%;">
	<table id="docs">
  <tr>
    <th>Room Id</th>
    <th>Floor</th>
    <th>Type</th>
    <th>Cost Per Day</th>
    <th>Further Details</th>
  </tr>
  {% for i in rooms %}
  		<tr>
  		<td>{{ i.room_id }}</td>
  		<td>{{ i.Floor }}</td>
      <td>{{ i.Type }}</td>
  		<td>{{ i.Cost_Per_Day }}</td>
  		<td>{{ i.room_details }}</td>
  		</tr>
  {% endfor %}
 </table>
 <button class="btn btn-success addroom">Add Room</button>
 </div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $('.addroom').click(function(){
    window.location.href="{% url 'manager:addroom' %}";
  })
</script>
{% endblock %}