{% extends 'mainpage/base.html' %}
{% block title %} Patient_registration{% endblock %}

{% block body %}
<div class = "container-fluid">
<div class = "row" style="margin-top:90px;">
    <div class="col-sm-12 col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" action="{% url 'patient:patient_register' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2 class="text text-danger small">{{ error_message }}</h2>
                    {% include 'patient/form-template.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}