<!DOCTYPE html>
<html lang="en">
<head>
  <title>View 1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>
<!--<div id="preloader">
      <div id="status">&nbsp;</div>
</div>-->
<a class="scrollToTop" href="#"><i class="fa fa-heartbeat"></i></a>
    
<nav class = "navbar navbar-default navbar-fixed-top" role="navigation">
  <div class = "container">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">CNH</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right main-nav" id="topmenu" >
        <li class="active"><a href="#"> Home </a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li class="dropdown">
                  <a href="services.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="services.html">Medical Counseling</a></li>
                    <li><a href="services.html">Operations</a></li>
                    <li><a href="services.html">X-ray</a></li>
                  </ul>
                </li>
        <li><a href="login.html">Login</a></li>
        <li> <a data-toggle="modal" data-target="#myModal" href="#" data-hover="Appointment"><span> Book Appointment</span></a></li>
        <li> <a href = "#"> Contact </a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="service">
  <div class="container">
      <div class="row">
          <h2> Our services </h2>
          <hr class="line">
          <div class="col-md-4 col-sm-6">
          <div class="single-service">
            <div class="single-service-img">
              <div class="service-img">
                <img class="img-responsive" src="images/Operationtheatre.jpg" alt="">
              </div>
            </div>
            <div class="single-service-text">
                <h3>Children's Specialist</h3>
                <p> The clinic offers the best doctors for children</p>
            </div>
            <div class="readmore_area">
            <a data-hover="Read More" href="#"><span>Read More</span></a>
        </div>
        </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="single-service">
            <div class="single-service-img">
              <div class="service-img">
                <img class="img-responsive" src="images/Operationtheatre.jpg" alt="">
              </div>
            </div>
            <div class="single-service-text">
                <h3>Medical Counseling</h3>
                <p> The clinic offers the best help with medical issues.</p>
            </div>
            <div class="readmore_area">
            <a data-hover="Read More" href="#"><span>Read More</span></a>
        </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="single-service">
            <div class="single-service-img">
              <div class="service-img">
                <img class="img-responsive" src="images/Operationtheatre.jpg" alt="">
              </div>
            </div>
            <div class="single-service-text">
                <h3>Pregnancy Care</h3>
                <p> The clinic offers the best care during pregnancy.</p>
            </div>
            <div class="readmore_area">
            <a data-hover="Read More" href="#"><span>Read More</span></a>
        </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="single-service">
            <div class="single-service-img">
              <div class="service-img">
                <img class="img-responsive" src="images/Operationtheatre.jpg" alt="">
              </div>
            </div>
            <div class="single-service-text">

                <h3>Operations</h3>
                <p> The clinic offers the best doctors for children</p>
            </div>
            <div class="readmore_area">
            <a data-hover="" href="#"><span>Read More</span></a>
        </div>
          </div>
        </div>
      </div>
  </div>

</section>
<footer id="footer">
      <!-- Start Footer Top -->
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="single-footer-widget">
                <div class="section-heading">
                <h2>About Us</h2>
                <hr class="line">
              </div>           
              <p>--------------------------------------------------------------- -------------------- --------- - - - - - - - </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="single-footer-widget">
              <div class="links">
                
              <ul class="footer-service">
                <li><a href="#"><span class="fa fa-check"></span>Home</a></li>
                <li><a href="#"><span class="fa fa-check"></span>Contact Us</a></li>
                <li><a href="#"><span class="fa fa-check"></span>Services</a></li>
                <li><a href="#"><span class="fa fa-check"></span>FAQ</a></li>
              </ul>
              </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="single-footer-widget">
                <div class="section-heading">
                <h2>Social Media</h2>
                <div class="line"></div>
              </div>
                <div id="socialMedia" class="span3 pull-right">
                  <h5>SOCIAL MEDIA </h5>
                  <a href="#"><img width="60" height="60" src="images/facebook.png" title="facebook" alt="facebook"/></a>
                  <a href="#"><img width="60" height="60" src="images/twitter.png" title="twitter" alt="twitter"/></a>
                  <a href="#"><img width="60" height="60" src="images/youtube.png" title="youtube" alt="youtube"/></a>
                </div> 
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="single-footer-widget">
                <div class="section-heading">
                <h2>Contact Info</h2>
                <div class="line"></div>
              </div>
              <p>Our contact details are:</p>
              <address class="contact-info">
                <p><span class="fa fa-home"></span>Chirag Nursing Home, Opp. Balaji Mandir, Banbata Ganj, Moradabad, U.P., India</p>
                <p><span class="fa fa-phone"></span>7599292732</p>
                <p><span class="fa fa-envelope"></span>adit.agarwal.cse15@itbhu.ac.in</p>
              </address>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Footer Middle -->
      <div class="footer-middle">
        <div class="container">
          <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="footer-copyright">
              <p>&copy; Copyright 2015 <a href="index.html">Chirag Nursing Home</a></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="footer-social">              
                <a href="#"><span class="fa fa-facebook-square"></span></a>
                <a href="#"><span class="fa fa-twitter-square"></span></a>
                <a href="#"><span class="fa fa-google-plus"></span></a>
                <a href="#"><span class="fa fa-linkedin"></span></a>     
            </div>
          </div>
        </div>
        </div>
      </div>
    </footer>

</body>
</html>